.container{
    background-color: #205181;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.title{
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    margin:0px
}
.description{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}